:root {
    --page-background-color: #011f32;
    --gold-border-color: rgb(207, 176, 1);
    --gold-text-color: #FFBF00;
    --gold-text-hover-color: #daaf2c;
    --gold-text-clicked-color: #5c4500;
}

body {
    background-color: var(--page-background-color);
    font-family: "Sansation", sans-serif;
}

main {
    background: linear-gradient(
        rgb(5, 69, 137),
        rgb(5, 34, 66)
    );

    padding: 5rem;
}

#contact_sm {
    display: none;
}

.contact_card {
    margin-top: 4rem;
    background-color: rgb(2, 38, 59);
    border-radius: 10px;
    color: white;
}

.contact_info h1 {
    font-size: 30pt;
    font-weight: bold;
}

.contact_info p {
    font-size: 14pt;
}

.contact_info a {
    color: var(--gold-text-color);
}

.contact_info a:hover {
    color: var(--gold-text-hover-color);
}

.contact_info a:active {
    color: var(--gold-text-clicked-color);
}

#contact_email {
    font-weight: bold;
    font-style: italic;
    color: var(--gold-text-color);
}

.studio_logo {
    max-width: 250px;
    height: auto;
}

@media screen and (max-width: 900px) {
    #contact_lg {
        display: none;
    }

    #contact_sm {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}