#navbar_logo {
    height: clamp(40px, 5vw, 70px);
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #001727;
    border-radius: 0;
}

.navbar-nav {
    gap: 2rem;
}

.navbar .nav-link {
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: gold;
}

.navbar .nav-link.active {
    color: gold;
}