:root {
    --gold-border: rgb(207, 176, 1) 5px solid;
    --gold-divider-color: #e4a915;
    --gold-text-color: #FFBF00;
    --background-tint: linear-gradient(
        rgba(0, 0, 0, 0.65), 
        rgba(0, 0, 0, 0.45)
    );
}

main {
    background:
        linear-gradient(135deg,
            transparent 0%,
            rgba(0, 255, 120, 0.45) 8%,
            rgba(255, 255, 0, 0.619) 18%,
            rgba(0, 179, 255, 0.45) 30%,
            rgba(0, 0, 0, 0.75) 48%,
            rgba(255, 0, 0, 0.75) 60%,
            rgba(255, 0, 170, 0.567) 75%,
            transparent 100%
        ),
        repeating-linear-gradient(135deg,
            rgba(255, 255, 255, 0.18) 0px,
            rgba(255, 255, 255, 0.18) 2px,
            transparent 2px,
            transparent 18px
        ),
        repeating-linear-gradient(135deg,
            rgba(0, 0, 0, 0.35) 0px,
            rgba(0, 0, 0, 0.35) 4px,
            transparent 4px,
            transparent 40px
        ),
        #050505;

    background-blend-mode: screen, overlay, normal;
    filter: saturate(1.4) contrast(1.2);
}

.content_container{
    background-color: rgba(0, 40, 60, 0.8);
    font-family: 'Sansation';
}

.content_title {
    text-align: center;
    color: white;
}

.content_title h1 {
    margin: 0;
    font-weight: bold;
    font-size: 36pt;
}

.content_title p {
    margin: 0;
}

.divider-svg {
    width: 100%;
    height: 40px;
}

/* Shared line styling */
.divider-line {
    stroke: var(--gold-divider-color);
    stroke-width: 4;
    stroke-linecap: round;
}

/* Diamond styling */
.divider-diamond {
    fill: var(--gold-divider-color);
    transform: rotate(45deg);
    transform-origin: center;
}

.main_content {
    color: white;
    font-size: 14pt;
    max-width: 120ch;
}

.post_img img {
    border: 3px solid var(--gold-divider-color);
    border-radius: 8px;

    box-shadow:
        0 0 10px rgba(0,0,0,0.5),
        0 0 20px rgba(228,169,21,0.25);
}

.post_img figcaption{
    font-style: italic;
    color: grey;
}

.post_img {
    width: 100%;
}

.post_img img {
    height: auto;
    max-width: 100%;
}

.change_log h2 {
    color: var(--gold-text-color);
}