<div class="card news_card mb-3">
    <div class="row g-0">
        <div class="col-md-4 card_img">
            <img src="..." class="rounded-start" alt="Thumbnail Img">
        </div>
        <div class="col-md-8 card_txt">
            <div class="card-body">
                <h2 class="card-title title_txt mb-2">
                    CARD TITLE
                </h2>

                <h3 class="card-subtitle date_txt mb-3">
                    Date
                </h3>

                <p class="card-text card_desc mb-3">
                    Card description text.
                </p>

                <a href="#" class="card_link stretched-link">Read More</a>
            </div>
        </div>
    </div>
</div>